div.background {
    font-family: 'Roboto', sans-serif;
    color: deepskyblue;
    font-size: 26px;
    text-align: center;
    border-spacing: 5px 10px;
    background: rgb(130,0,57);
    background: radial-gradient(circle, rgba(130,0,57,0.95) 0%, rgba(0,58,125,0.2) 90%);
    background-size: 100% 100%;
    padding: 20px;
    box-shadow: rgba(0,0,0, 0.4) 10px 10px 20px inset;
    width: 55%;
    float: left;
    margin-top: 20px;
    border-radius: 7px 14px;
}

div.miniheader {
    margin: auto;
    text-align: center;
    color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

div.calculation input, select, textarea {
    color: black;
    margin: auto;
    text-align: center;
    width: max-content;
}

div.calculation input.answer, select, textarea {
    color: black;
    margin: auto;
    text-align: center;
    width: max-content;
    margin-top: 5px;
}

div.calculations {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    overflow-y: scroll;
    height: 20em;
}

div.calculation {
    padding-bottom: 20px;
    color: white;
}

.responses {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 2px;
}

.responsebutton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    margin: auto;
    background-color: rgb(48, 151, 255);
    font-size: 20px;
    width: 80px;
    color: ghostwhite;
    text-align: center;
    font-weight: 500;
    border-radius: 5px 4px;
    transition: 0.5s;
}

.responsebutton:hover {
    cursor: pointer;
    color: rgb(48, 151, 255);
    background-color: ghostwhite;
    font-weight: 500;
    transition: 0.5s;
}


.sidepanel {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-top: 20px;
    color: deepskyblue;
    font-size: 26px;
    border-spacing: 5px 10px;
    background: rgb(130,0,57);
    background: radial-gradient(circle, rgba(130,0,57,0.95) 0%, rgba(0,58,125,0.2) 90%);
    background-size: 100% 100%;
    border-radius: 2px 4px;
    padding: 20px;
    box-shadow: rgba(0,0,0, 0.4) 10px 10px 20px inset;

    text-align: center;
    padding: 10px;
    width: 10%;
    margin-bottom: 20px;
    border-radius: 7px 14px;
    float: left;
    margin: 25px 5% 25px 10%;
    overflow: hidden;
}

.calsAmount {
    width: 60%;
    margin: 10px 25px
}
