table.images, table.images tr, table.images tr td {
  
    text-align: center;
    border-spacing: 0px;
}

table.images {
    border: 0px;
    margin: auto;
    width: 55%;
    height: 500px;
}

table.images tr {
    margin: 0px;
    padding: 0px;
}

img.tdata {
    display: block;
    width: 250px;
    margin:auto;
}
#mainImage {
    width: 300px;
}

#page{
    background-color:transparent;
    border:none;
    color:transparent;
}

.noaccess {
    font-family: 'Eczar', serif;
    font-size: 75px;
    text-align:center;
}
