
html{
    background: rgb(41, 41, 41);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:cadetblue;
}
/* Element positioning */
body, html {
    margin: 0;
    padding: 0;

}

svg {
    width: 100%;
    position:absolute;
    left:0;
    top:0;
    z-index:-10;
}

table.Mtable{
    margin:auto;
    margin-top:40px;
    width:100%;
    border-collapse:collapse;
}

.MMSG {
    text-align:center;
    margin-bottom:10px;
}

.MtimeDate {
    background: rgb(35, 35, 35);
    padding: 10px;
    text-align: center;
}

#MtimeDateYear {
    color: aquamarine;
    display: inline-block;
}
#MtimeDateMonth {
    color: aquamarine;
    display: inline-block;
}
#MtimeDateDay {
    color: aquamarine;
    display:inline-block;
}
#Mdate {
    color: mediumpurple;
    white-space: nowrap;
    overflow: hidden;

}
#MtimeHour{
    color:blanchedalmond;
}

table.Mtable header {
    font-size:65px;
    color:indianred;
    text-align:center;
    
    user-select:none;
    width:100%;
    transition: text-shadow 2s;
}
table.Mtable header:hover{
    text-shadow: 4px 4px 2px blue, 8px 8px 3px pink;
    cursor:pointer;
}

.MsignButton {
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    transition: background linear 0.3s;
    padding: 10px;
    text-align: center;
    border-radius: 3px 4px;
    text-decoration: none;
    color: rgba(255, 167, 245, 0.75);
}
.MsignButton:hover {
    background: rgb(35, 35, 35);
}

ul.MPagesList {
  padding-left: -10px;
  
  text-align: center;
  margin:auto;
}
ul.MPagesList > li {
  display: inline-block;
  margin:10px;
}
ul.MPagesList > li > a:hover {
  background-color: #2779BF;
  cursor:pointer;
}
ul.MPagesList > li > a {
    user-select:none;
    background-color: #3D99CE;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition:background-color 1s;
    border-radius:3px 4px;

}
